# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
admissions = pd.read_csv(r'G:\My Drive\Ironhack\lab-advanced-topics-with-pandas\data\Admission_Predict.csv')

In [3]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Remove trailing spaces at the end of the column names if there are any.

In [4]:
admissions.columns = [col.strip() for col in admissions.columns]
admissions.columns

# or:
# admissions.columns = admissions.columns.str.rstrip()

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [5]:
# Your code here:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [6]:
# Your code here:
admissions.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [7]:
# Your code here:
admissions.set_index("Serial No.")

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [8]:
admissions.duplicated(subset=["GRE Score", "CGPA"]).sum()

0

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [9]:
# Your code here:
admissions.set_index(["GRE Score", "CGPA"], inplace=True)

In [10]:
admissions

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
324,9.04,381,110,3,3.5,3.5,1,0.82
325,9.11,382,107,3,3.0,3.5,1,0.84
330,9.45,383,116,4,5.0,4.5,1,0.91
312,8.78,384,103,3,3.5,4.0,0,0.67
333,9.66,385,117,4,5.0,4.0,1,0.95

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [11]:
# Your code here:
admissions.reset_index(inplace=True)
admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,330,9.45,383,116,4,5.0,4.5,1,0.91
383,312,8.78,384,103,3,3.5,4.0,0,0.67
384,333,9.66,385,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [12]:
# Your code here:
admissions[(admissions["CGPA"] > 9) & (admissions["Research"] == 1)]

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
4,330,9.34,5,115,5,4.5,3.0,1,0.90
10,328,9.10,11,112,4,4.0,4.5,1,0.78
19,328,9.50,20,116,5,5.0,5.0,1,0.94
20,334,9.70,21,119,5,5.0,4.5,1,0.95
...,...,...,...,...,...,...,...,...,...
379,329,9.23,380,111,4,4.5,4.0,1,0.89
380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,330,9.45,383,116,4,5.0,4.5,1,0.91
384,333,9.66,385,117,4,5.0,4.0,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [13]:
# Your code here:
admissions[(admissions["CGPA"] > 9) & (admissions["SOP"] < 3.5)]["Chance of Admit"].mean().round(2)

0.8

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [14]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    mean = col.mean()
    stdev = col.std()
    return (col - mean) / stdev

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [15]:
tests = ["CGPA", "GRE Score", "LOR"]

for test in tests:
    admissions[f"{test}_std"] = standardize(admissions[test])

admissions.rename(columns={"GRE Score_std": "GRE_std"}, inplace=True)

admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713
...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193

We will generate the decision choice at random using the code below. Please run the cell.

In [16]:
# Libraries
from random import choices

In [17]:
# Run this code:

std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])
decision_choice

['LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [18]:
admissions["decision_choice"] = decision_choice
admissions["deciding_column"] = admissions.apply(lambda row: row[row["decision_choice"]], axis=1)
admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std,1.191647
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,LOR_std,0.076740
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,GRE_std,0.455704
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,LOR_std,-0.480713
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,LOR_std,-0.480713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740,CGPA_std,0.735259
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740,LOR_std,0.076740
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647,CGPA_std,1.415886
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193,CGPA_std,0.303641
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193,CGPA_std,1.764500

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [19]:
# Your code here:
admissions["decision"] = np.where(admissions["deciding_column"]>0.8,1,0)
admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std,1.191647,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,LOR_std,0.076740,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,GRE_std,0.455704,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,LOR_std,-0.480713,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,LOR_std,-0.480713,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740,CGPA_std,0.735259,0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740,LOR_std,0.076740,0
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647,CGPA_std,1.415886,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193,CGPA_std,0.303641,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193,CGPA_std,1.764500,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [20]:
# Your code here:
admissions["decision"].sum()

85

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [21]:
# Your code here:

# remove everything that is not a letter or number
# replace space with underscores
# change upper case to lower case
admissions.columns = admissions.columns.str.lower().str.replace(r'[^A-Za-z0-9 _ ]', '', regex=True).str.replace(" ", "_")

In [22]:
admissions

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,decision_choice,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std,1.191647,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,LOR_std,0.076740,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,GRE_std,0.455704,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,LOR_std,-0.480713,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,LOR_std,-0.480713,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740,CGPA_std,0.735259,0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740,LOR_std,0.076740,0
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647,CGPA_std,1.415886,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193,CGPA_std,0.303641,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193,CGPA_std,1.764500,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [23]:
# Your code here:
admissions["gre_score"] = np.where(admissions["gre_score"]>4,admissions["gre_score"]+10, admissions["gre_score"])

In [24]:
adjusted_gre = pd.cut(admissions["gre_score"], bins=4)

In [25]:
adjusted_gre

0      (337.5, 350.0]
1      (325.0, 337.5]
2      (325.0, 337.5]
3      (312.5, 325.0]
4      (337.5, 350.0]
            ...
380    (325.0, 337.5]
381    (325.0, 337.5]
382    (337.5, 350.0]
383    (312.5, 325.0]
384    (337.5, 350.0]
Name: gre_score, Length: 385, dtype: category
Categories (4, interval[float64, right]): [(299.95, 312.5] < (312.5, 325.0] < (325.0, 337.5] < (337.5, 350.0]]

In [26]:
admissions["gre_bins"] = adjusted_gre
admissions

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,decision_choice,deciding_column,decision,gre_bins
0,347,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std,1.191647,1,"(337.5, 350.0]"
1,326,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,LOR_std,0.076740,0,"(325.0, 337.5]"
2,332,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,GRE_std,0.455704,0,"(325.0, 337.5]"
3,324,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,LOR_std,-0.480713,0,"(312.5, 325.0]"
4,340,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,LOR_std,-0.480713,0,"(337.5, 350.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,334,9.04,381,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740,CGPA_std,0.735259,0,"(325.0, 337.5]"
381,335,9.11,382,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740,LOR_std,0.076740,0,"(325.0, 337.5]"
382,340,9.45,383,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647,CGPA_std,1.415886,1,"(337.5, 350.0]"
383,322,8.78,384,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193,CGPA_std,0.303641,0,"(312.5, 325.0]"
384,343,9.66,385,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193,CGPA_std,1.764500,1,"(337.5, 350.0]"